@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2.5rem;
  }
  .section-title {
    margin-bottom: 4rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bold;
  }
  .section-content {
    width: 100%;
    overflow: auto;
    margin-bottom: 2.5rem;
  }
}

body {
  display: flex;
  justify-content: center;

  height: 100vh;
}
